@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #BFCDDD;
}

/* Header */
li, a, button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #4a708b;
}
  
.nav__links {
    list-style-type: none;
}
  
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
  
.nav__links li a {
    transition: all 0.3s ease 0s;
}
  
.nav__links li a:hover {
    font-weight: 600;
    font-size: 1.3rem;
}
  
/* Class to add for fixed-position navbar during scrolling */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.brand__logo{
    width: 200px;
}
  
.logo {
    margin-top: 50px;
}
  
#github__logo {
    width: 50px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s;
}
  
#github__logo:hover{
    transform: scale(1.2);
}
  
#linkedin__logo {
    width: 50px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s;
}
  
#linkedin__logo:hover {
    transform: scale(1.2);
}
  
button {
    padding: 3px 15px;
    background-color: rgb(191, 205, 221, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
  
.nav__links li a button:hover {
    font-weight: 600;
    font-size: 1.3rem;
    background-color: rgba(191,205,221,0.8);
}

/* Main */
.main__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main__container-image img {
    width: 300px;
    margin-top: 175px;
    border-radius: 10px;
}

.main__container-about {
    background-color: #4a708b;
    border-radius: 10px;
    margin-top: 20px;
}

.main__container-about p {
    margin: 10px;
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
    width: 700px;
    text-align: center;
    color: #BFCDDD;
    text-indent: 30px;
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

#heartbeat {
    width: 200px;
    margin-top: 255px;
    margin-left: 10px;
    align-items: center;
    justify-items: center;
    filter: brightness(0) invert(1);
}

#dumbbell {
    width: 120px;
    margin-top: 295px;
    margin-left: 100px;
    align-items: center;
    justify-items: center;
    filter: invert(40%) sepia(64%) saturate(285%) hue-rotate(162deg) brightness(89%) contrast(89%);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px 10%;
      background-color: #4a708b;
    }
    .brand__logo {
      width: 180px;
  
    }
    .nav__links {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }
    .nav__links li {
      padding: 10px;
    }
    h2 {
      margin-top: 90px;
      font-size: 35px;
    }
    .grid__container {
        margin-top: 300px;
        align-items: center;
    }
    #headshot {
        width: 175px;
        margin-top: 20px;
        margin-left: 10px;
    }
    #heartbeat {
        width: 70px;
        margin-top: 15px;
        margin-left: 20px;
        align-items: center;
        justify-items: center;
    }
    #dumbbell {
        width: 70px;
        margin-top: 15px;
        margin-left: 10px;
        align-items: center;
        justify-items: center;
    }
    .main__container-about p{
        width: 400px;
        text-indent: 0px;
    }
    
  }


