@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #BFCDDD;
}

/* Header */
li, a, button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #4a708b;
}
  
.nav__links {
    list-style-type: none;
}
  
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
  
.nav__links li a {
    transition: all 0.3s ease 0s;
}
  
.nav__links li a:hover {
    font-weight: 600;
    font-size: 1.3rem;
}
  
/* Class to add for fixed-position navbar during scrolling */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.brand__logo{
    width: 200px;
}
  
.logo {
    margin-top: 50px;
}
  
#github__logo {
    width: 50px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s;
}
  
#github__logo:hover{
    transform: scale(1.2);
}
  
#linkedin__logo {
    width: 50px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s;
}
  
#linkedin__logo:hover {
    transform: scale(1.2);
}
  
.nav__links li a button:hover {
    font-weight: 600;
    font-size: 1.3rem;
    background-color: rgba(191,205,221,0.8);
}

/* Main */
h2 {
    text-align: center;
    margin-top: 75px;
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif;
    color: #4a708b;
}

.contact__form {
    position: absolute;
    background: #4a708b;
    border-radius: 5px;
    height: 300px;
    width: 250px;
    left: 50%;
    margin-left: -122px;
    top: 50%;
    margin-top: -90px;
}

.form__item1 {
   text-align: center;
   margin-top: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #4a708b;
}