@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imgs/simple-plant.jpg);
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ebebeb;
}

/* Header */
li, a, button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #4a708b;
}
  
.nav__links {
    list-style-type: none;
}
  
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
  
.nav__links li a {
    transition: all 0.3s ease 0s;
}
  
.nav__links li a:hover {
    font-weight: 600;
    font-size: 1.3rem;
}
  
/* Class to add for fixed-position navbar during scrolling */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.brand__logo{
    width: 200px;
}
  
.logo {
    margin-top: 50px;
}
  
#github__logo {
    width: 50px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s;
}
  
#github__logo:hover{
    transform: scale(1.2);
}
  
#linkedin__logo {
    width: 50px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s;
}
  
#linkedin__logo:hover {
    transform: scale(1.2);
}
  
.nav__links li a button:hover {
    font-weight: 600;
    font-size: 1.3rem;
    background-color: rgba(191,205,221,0.8);
}

/* Main */
main {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    color: #4a708b;
}

.contact__title {
    margin-top: 100px;
    margin-left: 400px;
    text-transform: uppercase;
}

form {
    margin-top: 50px;
    margin-left: 400px;
}

.form__control {
    width: 300px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #BFCDDD;
    margin-bottom: 16px;
}

input {
    height: 45px;
}

::placeholder {
    font-family: 'Work Sans', sans-serif;
}

form .submit {
    background-color: #4a708b;
    font-weight: bold;
    letter-spacing: 2px;
    width: 200px;
    border-radius: 50px;
    color: white;
}

form .submit:hover {
    cursor: pointer;
    transform: scale(1.1);
  
}

::placeholder {
    color: #4a708b;
    font-weight: 600;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    text-align: center;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        background-color: rgb(230, 234, 239);
      }
    header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px 10%;
      background-color: #4a708b;
    }
    .brand__logo {
      width: 180px;
  
    }
    .nav__links {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }
    .nav__links li {
      padding: 10px;
    }
    h1 {
        margin-top: 300px;
    }
    .contact__title {
        margin: auto;
    }
    form {
        margin: auto;
    }
}
