@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #BFCDDD;
}

/* Header */
li, a, button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #4a708b;
}
  
.nav__links {
    list-style-type: none;
}
  
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
  
.nav__links li a {
    transition: all 0.3s ease 0s;
}
  
.nav__links li a:hover {
    font-weight: 600;
    font-size: 1.3rem;
}
  
/* Class to add for fixed-position navbar during scrolling */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.brand__logo{
    width: 200px;
}
  
.logo {
    margin-top: 50px;
}
  
#github__logo {
    width: 50px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s;
}
  
#github__logo:hover{
    transform: scale(1.2);
}
  
#linkedin__logo {
    width: 50px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s;
}
  
#linkedin__logo:hover {
    transform: scale(1.2);
}
  
button {
    padding: 3px 15px;
    background-color: rgb(191, 205, 221, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
  
.nav__links li a button:hover {
    font-weight: 600;
    font-size: 1.3rem;
    background-color: rgba(191,205,221,0.8);
}

/* Main */

main {
    text-align: center;
}

iframe {
    margin-top: 190px;
    width: 800px;
    height: 800px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px 10%;
      background-color: #4a708b;
    }
    .brand__logo {
      width: 180px;
  
    }
    .nav__links {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }
    .nav__links li {
      padding: 10px;
    }
    h2 {
      margin-top: 90px;
      font-size: 35px;
    }
    iframe {
        margin-top: 80px;
        -moz-transform: scale(0.3, 0.3); 
        -webkit-transform: scale(0.3, 0.3); 
        -o-transform: scale(0.3, 0.3);
        -ms-transform: scale(0.3, 0.3);
        transform: scale(.45, .45); 
        
    }
}