body {
    background-color: #687a8f;
}

/* index.html Style */

.main-container > div {
    background-color: #939aa4;
    padding: 1em;
}

.main-container > div:nth-child(odd) {
    background-color: #9aa493;
}

button {
    background-color: #9aa493;
    border-color: #9aa493;
    width: 100px;
}

nav button:nth-of-type(1){
    margin-right: 4rem;
}

img {
    width: 100px;
    padding-left: 5px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

/* about-me.html Style */

.about-me-container > div {
    background-color: #939aa4;
    padding: 1em;
}

.about-me-container > div:nth-child(odd) {
    background-color: #9aa493;
}

#about-me-img img {
    width: 200px;
}

#github {
    background-color: #939aa4;
    border-color: #939aa4;
    width: 100px;
}

#linkedin {
    background-color: #939aa4;
    border-color: #939aa4;
    width: 100px; 
}

#about-me-links h3 {
    text-decoration: underline;
}

#about-me-bio h1 {
    text-align: center;
}

/* projects.html style */

